/* The visible bell */

.dropdown {
    margin-left: auto;
}

.dropdownbtn {
    width: 3em;
    height: 3em;
    background-color: transparent;
    /* Removes the ugly bell border */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* The toggled dropdowncontent styling */

.dropdownContent {
    position: absolute;
    right: 1em;
    top: 3.5em;
    display: none;
    flex-direction: column;
    background: #111828;
    border-radius: 0.5rem;
    min-width: 180px;
    padding: 0.5rem 0;
    z-index: 1000;
}

.dropdownContent.show {
    display: flex;
}

.dropdownContent a {
    color: white;
    text-decoration: none;
    padding: 0.75em 1em;
    display: block;
    font-size: 0.95em;
    background-color: blue;

}

.aprbtn, .denybtn {
    font-size: 0.9em;
    line-height: 1;
    background-color: transparent;
    /* Removes the ugly bell border */
    border: none;
}

.aprbtn:hover, .denybtn:hover {
    cursor: pointer;
}