.dropdown {
    margin-left: auto;
}

.dropdownbtn {
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.dropdownContent {
    position: absolute;
    right: 1em;
    top: 3.5em;
    display: none;
    flex-direction: column;
    background: #111828;
    border-radius: 0.5rem;
    min-width: 180px;
    padding: 0.5rem 0;
    z-index: 1000;
}

.dropdownContent.show {
    display: flex;
}

.dropdownContent a {
    color: white;
    text-decoration: none;
    padding: 0.75em 1em;
    display: block;
    font-size: 0.95em;
    background-color: blue;
}

.aprbtn, .denybtn {
    font-size: 0.9em;
    line-height: 1;
    background-color: transparent;
    /* Removes the ugly bell border */
    border: none;
}

.aprbtn:hover, .denybtn:hover {
    cursor: pointer;
}

#bellNotifications {
    position: relative;
    display: inline-block;
}

/* Red notification circle */
.notificationBadge {
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 1100;
}