.dropdown {
    margin-left: auto;
}

.dropdownbtn {
    width: 3em;
    height: 3em;
    background-color: transparent;
    /* Removes the ugly bell border */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}