
#searchbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 50px;
}

#searchbar input {
    /*display: flex;*/
    /*align-items: center;
    width: 100%;*/
    background: var(--bg-nav);
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: auto;
    font-size: 25px;
    padding: 12px;
    color: #E5E7EB;
    font-family: var(--font-sans);
}

#searchbar input:focus {
    outline: none;
}

#searchbar input::placeholder{
    color: var(--text-soft);
}



/*.searchbar {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}*/

/*input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}*/

/*input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}*/

.searchbar-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -50px;
    margin-bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 300%;
}

.searchbar-heading {
    padding-top: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    background-color: #999
}
.searchbar-heading b {
    padding-left: 10px;
}

.searchbar-subheading {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    background-color: #ddd
}
/*
.searchbar-heading{
    background-color: #999;
}

.searchbar-subheading{
    background-color: #fff;
}

.searchbar-subheading :hover { /*-items div:hover*/
/*   background-color: #e9e9e9;
}

/*.searchbar-subheading div {
   background-color: #999999;
}*/

/*when navigating through the items using the arrow keys:*/
/*.searchbar-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}*/