body {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-color: #111828;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e2938;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    z-index: 10000;
    box-sizing: border-box;
}

nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#jurisdiction {
    display: none;
}

label[for="jurisdiction"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background: #ff0000;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#jurisdiction:checked+label[for="jurisdiction"] {
    background: #0033ff;
    font-weight: bold;
}

.branchSelector {
    display: flex;
    gap: 0.2rem;
    padding: 5px;
    font-weight: bold;
}

.branchSelector label {
    border: 2px solid transparent;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.branchSelector input[type="radio"] {
    display: none;
}

.branchSelector input[type="radio"]:checked+label {
    border: 2px solid #ffffff;
}

#dev+label {
    background: #ff0000c3;
    color: white;
    padding: 5px;
}

#stage+label {
    background: #00ff089a;
    color: white;
    padding: 5px;
}

#prod+label {
    background: #008cff;
    color: white;
    padding: 5px;
}

.main {
    display: flex;
    min-height: 100vh;
}

aside {
    width: 180px;
    padding-right: 37px;
    background-color: #1447E6;
    padding-top: 20px;
    flex-shrink: 0;
}

aside h1 {
    display: flex;
    padding-left: 10px;
}

aside label {
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
    margin-right: 5px;
    border: 2px solid transparent;
    width: 180px;
    height: 30px;
    display: flex;
    background: transparent;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
}

aside input[type="radio"] {
    display: none;
}

aside label:hover {
    background: #a1a1f1;
}

aside input[type="radio"]:checked+label {
    border-radius: 5px;
    border: 2px solid #ffffff;
}

aside h1 {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

section {
    flex: 1;
    color: white;
    padding: 40px;
    overflow-y: auto;
    color: white;
    margin-top: 10%;
}

#searchbar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 50px;
}

#searchbar input {
    display: flex;
    align-items: center;
    width: 100%;
    background: #1E2938;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid #1E2938;
    border-radius: 15px;
    margin: auto;
    font-size: 25px;
    padding: 12px;
    color: white;
    border: 1px solid;
    box-shadow: 5px;
}

#searchbar input:focus {
    outline: none;
}

#allLinks,
#departmentSelected,
#Favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20px;
    width: 100%;
    height: auto;
}

#allLinks a,
#departmentSelected a,
#Favorites a {
    display: block;
    background-color: #1E2938;

    /* Change the size of these to change the size of the cards */
    width: 100px;
    height: 50px;

    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1e2938;
    /* Skal skiftes når vi får js op og kørrer så den følger branchen man er på */
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
}

footer #branch {
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: bold;
}