body {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-color: #111828;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e2938;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    z-index: 10000;
    box-sizing: border-box;
}

nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#jurisdiction {
    display: none;
}

label[for="jurisdiction"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9c/Flag_of_Denmark.svg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#jurisdiction:checked+label[for="jurisdiction"] {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg");
    background-size: cover;
    background-position: center;
    font-weight: bold;
}

.branchSelector {
    display: flex;
    gap: 0.2rem;
    padding: 5px;
    font-weight: bold;
}

.branchSelector label {
    border: 2px solid transparent;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.branchSelector input[type="radio"] {
    display: none;
}

.branchSelector input[type="radio"]:checked+label {
    border: 2px solid #ffffff;
}

#dev+label {
    background: #ff0000;
    color: white;
    padding: 5px;
    /* Opacity added to make the button easier to read */
    opacity: 80%;
}

#stage+label {
    background: #00ff08;
    color: white;
    padding: 5px;
    opacity: 80%;
}

#prod+label {
    background: #008cff;
    color: white;
    padding: 5px;
    opacity: 80%;
}

.main {
    display: flex;
    min-height: 100vh;
}

aside {
    width: 180px;
    padding-right: 37px;
    background-color: #1447E6;
    padding-top: 20px;
    flex-shrink: 0;
}

aside h1 {
    display: flex;
    padding-left: 10px;
}

aside label {
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 5px 1rem 5px;
    margin-left: 20px;
    margin-right: 5px;
    border: 2px solid transparent;
    width: 180px;
    height: 30px;
    display: flex;
    background: transparent;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;

}

aside input[type="radio"] {
    display: none;
}

aside label:hover {
    background: #a1a1f1;
}

aside input[type="radio"]:checked+label {
    border-radius: 5px;
    border: 2px solid #ffffff;
}

aside h1 {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

section {
    flex: 1;
    color: white;
    padding: 40px;
    overflow-y: auto;
    color: white;
    margin-top: 10%;
}

#searchbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 50px;
}

#searchbar input {
    display: flex;
    align-items: center;
    width: 100%;
    background: #1E2938;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid #1E2938;
    border-radius: 15px;
    margin: auto;
    font-size: 25px;
    padding: 12px;
    color: white;
    border: 1px solid;
}

#searchbar input:focus {
    outline: none;
}

#allTools,
#departmentSelected,
#favorites {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
}


#allTools a,
#departmentSelected a,
#favorites a {
    display: block;
    background-color: #1E2938;

    /* Change the size of these to change the size of the cards */
    width: 100px;
    height: 50px;

    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1e2938;
    /* Skal skiftes når vi får js op og kørrer så den følger branchen man er på */
    padding: 20px 0;
    text-align: center;
    z-index: 9999;
    opacity: 1;
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: bold;
}


#addToolBtn {
    display: inline-block;
    background: #00ff089a;
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid #1E2938;
    border-radius: 15px;
    margin: auto;
    height: 100%;
    font-size: 25px;
    padding: 12px;
    color: white;
}

.checkBoxDiv {
    display: inline-block;
    width: 5rem;
}

.inputDiv {
    width: 100%;
    display: inline-block;
}

.from-container{
    margin: auto;
    text-align: center;
    align-items: center;
}

.from-container b {

}

.buttondiv{
    align-items: center;
    display: flex;
    padding: 5px;
    float: right;
}

.submitformbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.submitformbtn:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.toggleBtn{
    background: red;
}

#isDynamic{
    width: auto;
    margin: 1rem;
}

input[type="checkbox"] {
    transform: scale(1.7);
    margin: 30%;
}

.toolName{
    width: 100%;
    border: 1% solid #ccc;
    border-radius: 40px;
    padding: 1% 2%;
    outline: none;
    box-sizing: border-box;
}

.tags{
    width: 100%;
    border: 1% solid #ccc;
    border-radius: 40px;
    padding: 1% 2%;
    outline: none;
    box-sizing: border-box;
}






/*.searchbar {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.searchbar-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.searchbar-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: #000;
}

/*when hovering an item:*/
.searchbar-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.searchbar-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
