:root {
    --font-base: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.dropdown {
    margin-left: auto;
}

.dropdownbtn {
    width: 3em;
    height: 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.dropdownContent {
    position: absolute;
    right: 1em;
    top: 3.5em;
    display: none;
    flex-direction: column;
    border-radius: 1rem;
    width: 400px;
    padding: 10px 0px;
    z-index: 1000;
    border: 1px solid var(--border-soft);
    background-color: var(--bg-card);
    color: var(--text-main);
}

.dropdownContent.show {
    display: flex;
}

.dropdownContent div{
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px
}

.dropdownContent .pendingToolName{
    font-size: 17px;
    text-decoration: none;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdownContent a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 0.95em;
    background-color: var(--bg-card);
    border-radius: 1rem;
}

.dropdownContent .departments{
    text-decoration: none;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: sans-serif;
}

.dropdownContent a:hover{
    background: #a1a1f1;
}

.aprbtn, .denybtn {
    font-size: 0.9em;
    line-height: 1;
    background-color: transparent;
    /* Removes the ugly bell border */
    border: none;
}

.aprbtn:hover, .denybtn:hover {
    cursor: pointer;
    transform: scale(1.15) translateZ(0);
}

#bellNotifications {
    position: relative;
    display: inline-block;
}

/* Red notification circle */
.notificationBadge {
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 1100;
}

.departments .dep:not(:last-child)::after {
    content: ", ";
}

