

/*.searchbar {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}*/

#searchbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 50px;
}

#searchbar input {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--bg-nav);
    gap: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: auto;
    font-size: 25px;
    padding: 12px;
    color: #E5E7EB;
    font-family: var(--font-sans);
}

#searchbar input:focus {
    outline: none;
}
#searchbar input::placeholder{
    color: var(--text-soft);
}

.searchbar-list {
    position: absolute;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -50px;
    margin-bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.searchbar-list div {
    padding: 10px;
    cursor: pointer;
    color: #000;
    background-color: white;
    display: flex;
    border: 1px solid var(--bg-sidebar)
}

.searchbar-item div{
    background-color: #fff;
    border: 1px solid white;
}

/*when hovering an item:*/
.searchbar-Tooldiv div:hover {
    background-color: #e9e9e9;
}

/*.searchbar-subheading div {
    background-color: #999999;
}*/

/*when navigating through the items using the arrow keys:*/
.searchbar-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.nameUrlContainer {
    width: 100%;
}

.tagContainer {
    justify-content: flex-end;
    gap: 5px;
}
